<%- include("partials/header.ejs") -%>

<h1> Home </h1>

<p> <%= homeStartingContent %> </p>

<p> <%= homePost %> </p>



    <% homePost.forEach(function(post){%>
       <h1><%= post.title%></h1> 
       <p> <%= post.content.substring(1, 100) + "..." %> 
        <a href="/post/<%=post.title%>">Read More</a>
        </p>
       
       <% }) %>

<%- include("partials/footer.ejs") -%>